header {
	padding: 20px;
}
header table {
	margin: auto;
}

footer {
	text-align: center;
}

body {
	margin: auto;
}

.formulaire {
	width: 600px;
	margin: auto;

}

.agenda {
	position: relative;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.agenda-block {
	position: absolute;
	border: 1px solid black;
	text-align: center;
}
